.container-faq-img {
  width: 100%;
  position: absolute;
}

.img-at-top {
  width: 100%;
  position: absolute;
}

.img-line {
  width: 100%;
}

.img-at-top-background {
  background: #979797;
  padding-top: 17rem;
}

.text-header {
  opacity: 0.89;
  font-family: HelveticaNeue-Medium;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 3.04px;
}
